{
  "Port": 9117,
  "AllowExternal": true,
  "APIKey": "{{jackett_apikey}}",
  "AdminPassword": "{{jackett_admin_password}}",
  "InstanceId": "{{jackett_instanceid}}",
  "BlackholeDir": "",
  "UpdateDisabled": true,
  "UpdatePrerelease": false,
  "BasePathOverride": "",
  "OmdbApiKey": "",
  "OmdbApiUrl": "",
  "ProxyUrl": "",
  "ProxyType": 0,
  "ProxyPort": null,
  "ProxyUsername": "",
  "ProxyPassword": "",
  "ProxyIsAnonymous": true
}
